* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #363636;
}

table {
    width: 30%;
    border-collapse: collapse;
    color: #fff;
    margin: 0 auto;
}

th {
    border: 1px solid #b0b0b0;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #b8b8b8;
    padding: 10px;
    text-align: left;
}